cat > backend/.env.example << 'EOF'
SUPABASE_URL=https://hrlteccgrmvuquxqgdth.supabase.co 

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhybHRlY2Nncm12dXF1eHFnZHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwMzgzMzQsImV4cCI6MjEwMDYxNDMzNH0.oq4Iq-SBz1qbu63oQB9FSA1juXpDLzE_gp-HadWFZSA 

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhybHRlY2Nncm12dXF1eHFnZHRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTAzODMzNCwiZXhwIjoyMTAwNjE0MzM0fQ.PBImy5mSBq4k59xzJkp4HDieuzbgO-POdoUVO3GdBws 

CLOUDINARY_CLOUD_NAME=pemjkp1x 

CLOUDINARY_API_KEY=463933151264969 

CLOUDINARY_API_SECRET=KtyLvSPOpXxyCUBhplng0F_t0yA 

REDIS_URL=rediss://default:gQAAAAAAAfMXAAIgcDFkMGM5OTIzZjY4YjA0NGYzYjE4M2E1NThiMzdiMzI2MQ@emerging-swift-127767.upstash.io:6379 

FLASK_SECRET_KEY=eaFdgEuGGFSsxxXhgYTHgJKniYTMPlpoOtyGavCHmGhjCzXbBnNQWeWAsdDSeRTt 

FLASK_ENV=production 

ADMIN_USERNAME=mrbenny 

ADMIN_PASSWORD=@taukwebwaga123 

FRONTEND_URL=https://bayune-lutheran-sec-yd1s.onrender.com
EOF